<div>
    @if (episodes.length > 0) {
      <h3>Episodes</h3>
        @for (episode of episodes; track episode.id) {
          
            <div class="episode-header" (click)="toggleEpisode(episode.id)">
              <span class="toggle-icon">
                {{ isExpanded(episode.id) ? '−' : '+' }}
              </span>
              <strong>{{ episode.number }}. {{ episode.name }}</strong>
            </div>
  
            @if (isExpanded(episode.id) && episode.summary) {
              <div class="summary" [innerHTML]="episode.summary"></div>
            }
          
        }
    } @else {
      <p>Choose a season !</p>
    }
  </div>
  