<div class="movie-detail">
  <button routerLink="/" class="back-button">← Back to home page</button>

  @if (movie) {
    <h2>{{ movie.name }}</h2>

    <div class="movie-content">
      <div class="movie-left">
        <img
          [src]="movie.image.original"
          [alt]="movie.name"
          class="movie-banner"
        />
        <div class="movie-summary" [innerHTML]="movie.summary"></div>
      </div>

      <div class="movie-right">
        <ul class="season-list">
          @for (season of seasons; track season.id) {
            <button (click)="onSelectSeason(season.id)">
              Saison {{ season.number }}
            </button>
          }
        </ul>

        <app-season-details [seasonId]="selectedSeasonId" />
      </div>
    </div>
  }
</div>
