<div class="movie-detail">
    <button routerLink="/movies" class="back-button">← Retour à la liste</button>
  
    @if (movie) {
      <h2>{{ movie.name }}</h2>
      <img [src]="movie.image.original" [alt]="movie.name" class="movie-banner" />
      <div class="movie-summary" [innerHTML]="movie.summary"></div>

      <ul class="season-list">
        @for (season of seasons; track season.id) {
          <button (click)="onSelectSeason(season.id)">
            <a>
              Saison {{ season.number }}
            </a>
          </button>
        }
      </ul> 
    }
    <app-season-details [seasonId]="selectedSeasonId"></app-season-details>

</div>
  
  