<h2>Liste des Séries</h2>

<div class="search-sort-wrapper">
  <app-search-bar
    placeholder="Rechercher une série..."
    (search)="onSearchChange($event)"
  ></app-search-bar>

  <select class="genre-dropdown" (change)="onSortChange($event)">
    <option value="name">Nom</option>
    <option value="year">Année</option>
    <option value="rating">Note</option>
  </select>
</div>

@if (filteredMovies?.length === 0) {
  <p>Aucun résultat</p>
}

<div class="movies-grid">
  <div *ngFor="let movie of filteredMovies">
    <a [routerLink]="['/movies', movie.id]">
      <app-movie-card [movie]="movie"></app-movie-card>
    </a>
  </div>
</div>
