<div class="page-container">
    <h1 class="page-title">Don't know what to watch? No worries!</h1>
    <h2 class="page-subtitle">Select your favorite genres:</h2>
  
    <section class="section">
      <h2 class="section-title">Genres</h2>
      <app-genre-selection (onGenresSelected)="onGenresSelected($event)"></app-genre-selection>
    </section>
  
    <section class="section">
      <h2 class="section-subtitle">
        Want more accurate suggestions? Tell us about your favorite shows:
      </h2>
  
      <button class="toggle-btn" (click)="toggleSeries()">
        {{ showSeriesSelector ? '🔽 Hide show selection' : '🎥 Select your favorite shows' }}
      </button>
  
      @if(showSeriesSelector){
        <div class="series-wrapper">
          <app-series-selector (selectionChanged)="onTopRatedChanged($event)"></app-series-selector>
        </div>
      }
    </section>
  
    <section class="section results">
      <h1 class="page-title">Here are some suggestions:</h1>
      @if(shouldDisplayResults){
          <app-movies-list [movies]="filteredMovies"></app-movies-list>
      }
      @else{
          <p class="placeholder-text">Please select a genre or a show to get started</p>
      }
    </section>
  </div>
  